#!/usr/bin/make -f
DH_VERBOSE=1

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# work around the fact that CMake ignores CPPFLAGS.
# see http://wiki.debian.org/Hardening#Notes_for_packages_using_CMake.
# compat=9 and dh(7) do this automagically on Debian sid, however Ubuntu still
# needs this manual hack.
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

# hardening flags, remove PIE flags; we'll add them later
include /usr/share/hardening-includes/hardening.make
CFLAGS+=$(filter-out $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
CXXFLAGS+=$(filter-out $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
LDFLAGS+=$(filter-out $(HARDENING_DISABLE_PIE_LDFLAGS_FILTER),$(HARDENING_LDFLAGS))
DEB_EXE_COMPILE_FLAGS:=$(filter $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
DEB_EXE_LINK_FLAGS:=$(filter $(HARDENING_DISABLE_PIE_LDFLAGS_FILTER),$(HARDENING_LDFLAGS))

LDFLAGS += -Wl,--as-needed

PYVER=$(shell pyversions -vd)

configure_flags += \
			-DPython_ADDITIONAL_VERSIONS=$(PYVER) \
			-DDEB_EXE_COMPILE_FLAGS="$(DEB_EXE_COMPILE_FLAGS)" \
			-DDEB_EXE_LINK_FLAGS="$(DEB_EXE_LINK_FLAGS)"

%:
	dh $@ --with python2

override_dh_auto_configure:
	dh_auto_configure -- 	$(configure_flags)

override_dh_auto_build:
	dh_auto_build
	doxygen doxygen.cfg

override_dh_install:
	mv $(CURDIR)/debian/tmp/usr/bin/plistutil-* \
		$(CURDIR)/debian/tmp/usr/bin/plistutil

	chrpath -d $(CURDIR)/debian/tmp/usr/lib/python*/*-packages/plist.so

	# Remove files generated by swig
	rm -f $(CURDIR)/debian/tmp/usr/include/plist/swig/plist.i
	rm -f $(CURDIR)/debian/tmp/usr/lib/python*/*-packages/plist/plist.py
	rm -f $(CURDIR)/debian/tmp/usr/lib/python*/*-packages/plist/__init__.py
	rm -f $(CURDIR)/debian/tmp/usr/lib/python*/*-packages/plist/_plist.so

	dh_install --fail-missing

override_dh_python2:
	# Only build for the current version of python, not all supported.
	dh_python2 --no-guessing-versions

override_dh_strip:
	dh_strip --dbg-package=libplist-dbg

override_dh_auto_clean:
	dh_auto_clean
	rm -Rf docs/
	rm -f test/data/*.out

#override_dh_auto_test:
#Make the test suit fatal on supported arches (See README.Debian)
#ifneq (,$(filter $(DEB_HOST_ARCH),amd64 i386 kfreebsd-amd64 kfreebsd-amd64))
#	dh_auto_test
#else
#	dh_auto_test || true
#endif
